.about-header {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.avatar-wrapper {
  display: flex;
  justify-content: center;
}

.name-heading {
  padding-top: 3%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

#name {
  font-weight: 600;
}

#developer {
  font-weight: 500;
  color: #707070;
}

#developer-border {
  border: 1px solid #00cec9;
  width: 30%;
}

.about-text-wrapper {
}

.education {
  padding-top: 5%;
}
