.about-header-text {
  padding-top: 0%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
}

.box {
  display: flex;
  margin-top: 5%;
  padding: 8rem;
  background: white;
  height: 100%;
}

.nav-border-bottom-black {
  border-bottom: 1px solid black;
}

.form-box {
  display: flex;
  border: 5px solid #3ad3cf;
  margin-top: 3%;
  flex-wrap: wrap;
  padding: 0px;
}

.input {
  width: 100%;
  border: none;
  border: none;
  padding: 10px;
}

.form {
  width: 100%;
}

.input-icon {
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.input-container {
  border-bottom: 1px solid #3ad3cf;
  padding: 5px;
}

.form-group {
  margin-bottom: 0rem;
}

.textarea-container {
  padding: 5px;
  padding-bottom: 5%;
}

.form-control:focus {
  border: none;
}

form .form-control:focus {
  border-color: #ced4da;
  box-shadow: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.form-control {
  border: none;
}

.button-div {
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0;
  margin-top: 5%;
}

#send-message {
  padding: 20px;
  border-radius: 0;
  justify-self: flex-start !important;
  background: transparent;
  color: black;
  border: 5px solid #00cec9;
  font-weight: 600;
}

#send-message:hover {
  background-color: #00cec9;
  color: white;
}

.footer-padding {
  margin-top: 10%;
}

@media (max-width: 575.98px) {
  .box {
    padding: 40px;
  }

  #send-message {
    width: 100%;
  }

  .input-icon {
    width: 40px;
  }

  .about-header-text {
    padding-top: 10%;
  }

  .header-text {
    font-size: 1.3rem;
  }
}
