html,
body {
  height: 100%;
  width: 100%;
  transition: all;
}
body {
  background-color: #273c75;
}

.nav-link:hover {
  opacity: 0.7;
}

.navbar {
  margin-top: 2%;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.header {
  text-align: center;
  color: white;
  padding-top: 10%;
  padding-bottom: 5%;
}

.nav-border-bottom {
  border-bottom: 1px solid #1cf1d8;
}

.nav-border-bottom-dark {
  border-bottom: 1px solid black;
}

.header-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

a {
  color: white;
}

.contact-button {
  border-radius: 0;
  padding: 15px;
  background: transparent;
  border: 2px solid #1ff0d8;
  border-radius: 0;
  color: white;
  font-weight: 600;
}

.contact-button:hover {
  background: #1ff0d8;
  color: black;
  outline: 0;
  border: 2px solid #1ff0d8;
}

.contact-button:hover a {
  color: black;
  text-decoration: none;
}

.read-more-button a {
  color: black;
}

.read-more-button {
  border-radius: 0;
  padding: 15px;
  background: transparent;
  border: 2px solid #1ff0d8;
  border-radius: 0;
  color: black;
  font-weight: 600;
}

.read-more-button:hover {
  background: #1ff0d8;
  outline: 0;
  border: 2px solid #1ff0d8;
}

.read-more-button:hover a {
  color: white;
  text-decoration: none;
}

#freelance {
  padding-top: 10%;
  color: white;
  text-decoration: underline;
}

.about-section-wrapper {
  width: 100%;
  background: #353b48;
}

.about-section-wrapper {
  padding: 5%;
  padding-bottom: 5%;
}

.about-inner-box {
  width: 100%;
  background: white;
  padding: 5%;
}

.about-heading-wrapper {
  padding-bottom: 3%;
}

.about-heading {
  font-weight: 600;
  border-bottom: 2px solid #1ff0d8;
}

.custom-hr {
  padding-top: 5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.37);
}

.services-wrapper {
  padding-top: 3%;
}

.services-heading {
  text-align: center;
  color: #ddd4d4;
}

.services-sub-heading {
  text-align: center;
  color: white;
  font-weight: 700;
}

.card {
  padding: 10%;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid grey;
}

.card-heading {
  text-align: center;
  margin-top: 10%;
  color: white;
  font-weight: 600;
}

.card-text {
  color: white;
  margin-top: 10%;
}

.card-btn {
  border-radius: 0px;
  background: transparent;
  padding: 15px;
}

.card-image {
  align-self: center;
  height: 150px;
}
.footer-wrapper {
  justify-content: space-around;
}

.fas {
  border: none !important;
  color: white !important;
}

.footer-item {
  color: white;
  padding: 10px;
  align-self: center;
}

.footer-text {
  color: white;
  align-self: center;
}

#linkedin:hover {
  color: #0077b5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

#github:hover {
  color: #333;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

#mail:hover {
  color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

@media (max-width: 575.98px) {
  .about-inner-box {
    width: 100%;
    background: white;
    padding: 10%;
  }

  .about-mobile {
    display: flex;
    justify-content: center;
    height: 400px;
  }

  .about-mobile-text {
    padding-top: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
  }
}
