html,
body {
  height: 100%;
  width: 100%;
  transition: all;
}
body {
  height: 100%;
  background-attachment: fixed;
}

.nav-link:hover {
  opacity: 0.7;
}

/* .nav-link {
  padding-right: 0!important;
} */

.navbar {
  margin-top: 2%;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-bottom: 5%;
  padding-right: 0;
  padding-left: 0;
}

.header-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 60px;
  grid-gap: 15px;

  grid-template-areas:
    ". . . . . mac mac mac mac mac mac mac"
    "heading heading heading heading heading mac mac mac mac mac mac mac"
    "text text text text text mac mac mac mac mac mac mac "
    ". . . . . mac mac mac mac mac mac mac"
    " . . . . . mac mac mac mac mac mac mac"
    "btn btn btn btn . . . . . . . .";
}

.intro-heading {
  grid-area: heading;
  color: white;
}

.portfolio-btn {
  grid-area: btn;
}

.mac {
  grid-area: mac;
  border-radius: var(--borderRadius);
}

.intro-text {
  grid-area: text;
  color: white;
}

.typist-header-text {
  grid-area: typist;
  grid-column: 6 /13;
  color: white;
  grid-row: 2;
  padding: 2%;
}

.intro-wrapper {
  text-align: left;
  padding-left: 0px;
  flex-direction: column;
  color: white;
}

.header {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 80px;
}

.header-image {
  grid-column: 2 / 8;
  height: 665px;
  justify-self: center;
}

#header-name {
  color: rgb(31, 240, 216);
}

.typist-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 100px;
}

.header h3 {
  color: white;
}

.header-text {
  grid-row: 2;
  grid-column: 2 /13;
  font-size: 1.5rem;
}

.btn-portfolio {
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  border: none;
  color: black;
  padding: 5%;
}

.btn-portfolio:hover {
  background: #1cf1d8;
  border: none;
  color: black;
  border: none;
  border-radius: none;
}

.Cursor--blinking {
  display: none !important;
}

.nav-border-bottom {
  border-bottom: 1px solid #1cf1d8;
}

.nav-border-bottom-dark {
  border-bottom: 1px solid black;
}

.header-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
}

a {
  color: white;
}

.contact-button {
  border-radius: 0;
  padding: 15px;
  /* background: transparent; */
  border: 2px solid #1ff0d8;
  border-radius: 0;
  color: white;
  font-weight: 600;
}

.contact-button:hover {
  background: #1ff0d8;
  color: black;
  outline: 0;
  border: 2px solid #1ff0d8;
}

.contact-button:hover a {
  color: black;
  text-decoration: none;
}

.read-more-button a {
  color: black;
}

.read-more-button {
  border-radius: 0;
  padding: 15px;
  background: transparent;
  border: 2px solid #1ff0d8;
  border-radius: var(--borderRadius);
  color: black;
  font-weight: 600;
}

.read-more-button:hover {
  background: #1ff0d8;
  outline: 0;
  border: 2px solid #1ff0d8;
}

.read-more-button:hover a {
  color: white;
  text-decoration: none;
}

#freelance {
  padding-top: 10%;
  color: white;
  text-decoration: underline;
}

.about-section-wrapper {
  padding: 0;
}

.about-section-wrapper {
  margin-top: 5%;
  padding-bottom: 5%;
}

.about-inner-box {
  width: 100%;
  background: #fafbfc;
  padding-bottom: 5%;
  padding-top: 5%;
  border-radius: 0px;
}

.icon-img {
  width: 100%;
  height: 100%;
}

.about-section-container {
  display: flex;
  background: white;
  border-radius: var(--borderRadius);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.04);
  padding: 5%;
}

.about-heading-wrapper {
  padding-bottom: 3%;
}

.about-heading {
  font-weight: 700;
  color: black;
}

.devicon-bootstrap-plain {
  height: 100px;
}

.custom-hr {
  padding-top: 5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.37);
}

.services-wrapper {
  padding-top: 5%;
  background: #fafbfc;
}

.services-heading {
  text-align: center;
  color: #ddd4d4;
}

.services-sub-heading {
  text-align: center;
  font-weight: 700;
  color: black;
}

.card {
  padding: 10%;
  border-radius: var(--borderRadius);
  /* background-color: transparent; */
  border: none;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.04);
}

.card-heading {
  text-align: center;
  margin-top: 10%;
  font-weight: 600;

  background: #1e3267;
  color: white;
  padding: 5%;
  border-radius: var(--borderRadius);
  font-size: 1rem;
}

.card-text {
  color: white;
  margin-top: 10%;
}

.card-btn {
  border-radius: 0px;
  background: transparent;
  padding: 15px;
}

.card-image {
  align-self: center;
  height: 150px;
}

#wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);

  grid-template-areas:
    "header box1"
    "box2 box3"
    "box2 box3"
    "more box3";
}

#header-box {
  grid-area: header;
  align-self: start;
}

#box1 {
  grid-area: box1;
  display: flex;
  grid-row: 1 / 3;
  grid-column: 2;
  background-image: url("../images/1.jpg");
  background-size: cover;
  border-radius: var(--borderRadius);
}

#box2 {
  display: flex;
  grid-area: box2;
  background-image: url("../images/2.jpg");
  background-size: cover;
  border-radius: var(--borderRadius);
}

#box3 {
  display: flex;
  grid-area: box3;
  background-image: url("../images/3.jpg");
  background-size: cover;
  border-radius: var(--borderRadius);
  grid-row: 3 / 5;
}

#view-more {
  grid-area: more;
  align-self: end;
}

#view-more-text {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  width: 28%;
  border: 1px solid #1cf1d8;
  padding: 10px;
}

#view-more-text:hover {
  background: #1cf1d8;
  color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

a:hover {
  text-decoration: none;
}

#recent-projects-heading {
  color: white;
  font-weight: 700;
}

.box-wrapper {
  display: grid;
  grid-gap: 35px;
  margin: 5%;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px;
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    "text text text text text text"
    ". . . . . ."
    "button button button more-button more-button more-button";
  transition: 0.3s ease-in-out;
  border-radius: var(--borderRadius);
}

.box-wrapper:hover {
  border: 2px solid white;
  padding: 5%;
}

.box-heading-grid {
  grid-area: text;
  color: white;
  text-align: center;
  align-self: center;
}

.button-view {
  grid-area: button;
  border: none;
  border-radius: 0px;
  padding: 0px;
  /* border-bottom: 3px solid rgb(31, 240, 216); */
}

.view-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--borderRadius);;
  outline: none;
  background-color: white;
  opacity: 0.4;
  color: black;
  padding: 10px;
}

.btn:focus,
.btn.focus,
.btn:active {
  box-shadow: none;
  border: none;
}

.view-button:active {
  border: none;
}

.button-more {
  grid-area: more-button;
  border: none;
  border-radius: var(--borderRadius);;
  padding: 0px;
  /* border-bottom: 3px solid rgb(31, 240, 216); */
}

.more-button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: var(--borderRadius);;
  outline: none;
  background-color: white;
  opacity: 0.4;
  color: black;
}

.more-button:hover {
  background: white;
  color: black;
  opacity: 1;
  border-radius: var(--borderRadius);
}

.view-button:hover {
  background: white;
  opacity: 1;
  color: black;
  border-radius: var(--borderRadius);
  
}

.button-view:hover {
  background: white;
  opacity: 1;
  color: black;
  border-radius: var(--borderRadius);
}

.footer {
  border-top: 1px solid white;
}

.footer-wrapper {
  justify-content: space-around;
}

.fas {
  border: none !important;
  color: white !important;
}

.footer-item {
  color: white;
  padding: 10px;
  align-self: center;
}

.footer-text {
  color: white;
  align-self: center;
}

#linkedin:hover {
  color: #0077b5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

#github:hover {
  color: #333;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

#mail:hover {
  color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

@media (max-width: 575.98px) {
  .navbar {
    padding: 15px;
  }

  .header-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "mac"
      "."
      "."
      "."
      "."
      "."
      "."
      "heading"
      "text "
      "text "
      "text "
      "."
      "btn";
  }

  .portfolio-btn {
    justify-self: center;
  }

  .intro-heading {
    grid-area: heading;
    color: white;
    margin: 5%;
    text-align: center;
  }

  .btn-portfolio {
    grid-area: btn;
    padding: 10%;
  }

  .mac {
    grid-area: mac;
    margin: 5%;
  }

  .intro-text {
    grid-area: text;
    color: white;
    margin: 5%;
    text-align: center;
  }

  .typist-header-text {
    grid-row: 2;
    grid-column: 1;
    padding: 10%;
  }

  .intro-wrapper {
    /* padding: 15px; */
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }

  .typist-wrapper {
    margin: 15px;
    display: grid;
  }

  .header {
    margin: 5%;
  }

  .header-image {
    grid-column: 1 / 9;
    height: 600px;
  }

  .header-text {
    grid-row: 2;
    grid-column: 2/12;
  }

  .btn-portfolio {
    font-size: 1.3rem;
    background-color: white;
    border: none;
    color: black;
    margin: 0 auto;
  }

  #freelance {
    text-align: center;
  }

  .about-inner-box {
    width: 100%;
    background: white;
    padding: 10%;
    border-radius: 0px;
  }

  .about-section-container {
    flex-direction: column;
  }

  .about-mobile {
    display: flex;
    justify-content: center;
    height: 400px;
  }

  #view-more-text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .about-mobile-text {
    padding-top: 10%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
  }

  #wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    grid-template-areas:
      "header"
      "box2"
      "box3"
      "more";
    margin: 5%;
  }

  #box1 {
    grid-column: 1;
    grid-row: 1 / 3;
    padding-right: 15px;
    padding-left: 15px;
  }

  #box2 {
    grid-column: 1;
    grid-row: 3 / 5;
    padding-right: 15px;
    padding-left: 15px;
  }

  #box3 {
    grid-column: 1;
    grid-row: 5 / 7;
    padding-right: 15px;
    padding-left: 15px;
  }

  #view-more {
    grid-area: more;

    grid-row: 7 /8;
    align-self: start;
  }

  .box-wrapper {
    grid-template-areas:
      ". . . . . ."
      ". . . . . ."
      "text text text text text text"
      ". . . . . ."
      "button button  button more-button more-button more-button";
  }

  .service-box {
    padding-bottom: 5%;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    grid-template-areas:
      "header"
      "box2"
      "box3"
      "more";
  }

  .portfolio-btn {
    justify-self: center;
  }

  .btn-portfolio {
    padding: 10%;
  }

  .header-image {
    grid-column: 1 / 9;
  }

  .header-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "mac"
      "."
      "."
      "."
      "."
      "."
      "."
      "heading"
      "text "
      "text "
      "text "
      "."
      "btn";
  }

  .intro-heading {
    grid-area: heading;
    color: white;

    text-align: center;
  }

  .btn-portfolio {
    grid-area: btn;
    grid-row: 12;
  }

  .mac {
    grid-area: mac;
  }

  .intro-text {
    grid-area: text;
    color: white;

    text-align: center;
  }

  .typist-header-text {
    grid-row: 2;
    grid-column: 1;
    padding: 10%;
  }

  #freelance {
    padding-top: 20%;
    text-align: center;
  }

  #box1 {
    grid-column: 1;
    grid-row: 1 / 3;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5%;
    
  }

  #box2 {
    grid-column: 1;
    grid-row: 3 / 5;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5%;
  }

  #box3 {
    grid-column: 1;
    grid-row: 5 / 7;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5%;
  }

  #view-more {
    grid-area: more;
    text-align: center;
    grid-row: 7 /8;
    align-self: start;
  }

  #view-more-text {
    width: 50%;
  }

  .box-wrapper {
    grid-template-areas:
      ". . . . . ."
      ". . . . . ."
      "text text text text text text"
      ". . . . . ."
      "button button button more-button more-button more-button";
    margin: 3%;
  }

  .box-wrapper:hover {
    padding: 3%;
  }

  .service-box {
    padding-bottom: 5%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .box-wrapper {
    grid-template-areas:
      ". . . . . ."
      ". . . . . ."
      "text text text text text text"
      ". . . . . ."
      "button button button more-button more-button more-button";
  }

  .header-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 60px;
    grid-gap: 15px;

    grid-template-areas:
      ". . . . . mac mac mac mac mac mac mac"
      "heading heading heading heading heading mac mac mac mac mac mac mac"
      "text text text text text mac mac mac mac mac mac mac "
      ". . . . . mac mac mac mac mac mac mac"
      " . . . . . mac mac mac mac mac mac mac"
      ". . . . . . . . . . . ."
      "btn btn btn btn . . . . . . . .";
  }

  .intro-heading {
    grid-area: heading;
    color: white;
    grid-row: 1;
  }

  .btn-portfolio {
    grid-area: btn;
    grid-row: 6;
  }

  .mac {
    grid-area: mac;
  }

  .intro-text {
    grid-area: text;
    color: white;
    grid-row: 2;
  }

  .typist-header-text {
    padding: 4%;
  }

  #freelance {
    padding-top: 15%;
    text-align: center;
  }

  #view-more-text {
    width: 50%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
