@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");



:root {
  --borderRadius: 6px;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.page-not-found {
  flex-direction: column;
}
